DP.docx

######################################################
# Rails
######################################################
# Rails - Ignore bundler config.
AAT_server_app/AAT_server_app/.bundle

# Ignore the default SQLite database.
AAT_server_app/AAT_server_app/db/*.sqlite3
AAT_server_app/AAT_server_app/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
AAT_server_app/AAT_server_app/log/*
!AAT_server_app/AAT_server_app/log/.keep
AAT_server_app/AAT_server_app/tmp


######################################################
# Middleware
######################################################
#ignore all build configuration from qt creator
AAT_server_app/build-dyn_lib_aligment_core-Desktop_Qt_5_7_0_GCC_64bit-Default/*
AAT_server_app/build-test_aligment_wrapper-Desktop_Qt_5_7_0_GCC_64bit-Debug/*
AAT_server_app/build-test_aligment_wrapper-Desktop_Qt_5_7_0_GCC_64bit-Default/*
AAT_server_app/build-test_aligment_wrapper-Desktop_Qt_5_7_0_GCC_64bit-Release/*

######################################################
# dynamic_lib
######################################################
AAT_server_app/dyn_lib_aligment_core/_build/*
AAT_server_app/dyn_lib_aligment_core/CMakeLists.txt.user

######################################################
# testwrapper
###################################################### 
AAT_server_app/test_aligment_wrapper/_build/*
AAT_server_app/test_aligment_wrapper/CMakeLists.txt.user

